.container{
    padding: 30px;
}

.background-color{
    /* background-color: #57068c; */
}
.card {
    flex-direction: row;
  }
  .card img {
    width: 30%;
  }

.x-font{
    font-family: 'ZCOOL KuaiLe', sans-serif;
}

.score-card{
  display: inline-flex;
}