/* Whole page */
.container{
    padding: 10px;
}

.background-color{
    background-image: linear-gradient(to bottom, #6dd5ed, #2193b0);
}

/* title */
.x-font{
  font-family: 'ZCOOL KuaiLe', sans-serif;
  font-size: 4rem;
}

.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 300px #fff, 0 0 300px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 300px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

/* every row */

.row{
  margin: 30px;
}

/* Card */

.card {
    flex-direction: row;
    padding: 20px;
    font-family: 'ZCOOL KuaiLe', sans-serif;
    font-size: 1rem;
}

.profile-img{
  border-radius: 50%;
}

.card img {
    width: 30%;
}

.score-card{
  display: inline-flex;
}

/* first place card */
.frist-card{
  font-size: 2rem;
}

/* second place card */
.second-card{
  font-size: 1.5rem;
}