.background-color {
  background-image: linear-gradient(to bottom, #6dd5ed, #2193b0);
}

.container{
  width: 100%;
}

.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 0.5s ease-in-out infinite alternate;
  -moz-animation: glow 0.5s ease-in-out infinite alternate;
  animation: glow 0.5s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 300px #fff, 0 0 300px #fff, 0 0 30px #e60073,
      0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 300px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

/* every row */
.row {
  margin: 40px;
}

/* Card */
.card {
  flex-direction: row;
  border-radius: 40px;
  height: 80px;
  width: 80%;
  margin: auto;
  font-size: 25px;
  background-color: rgb(255, 255, 255);
  padding-left: 10px;
  padding-right: 10px;
}

.btn{
  font-size: 25px;
  margin: auto;
  padding: 0;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.card img {
  width: 60px;
  height: 60px;
  margin: auto;
  border-radius: 100%;
}

.card-body {
  margin: auto;
  padding: 20px;
}

.vs-box{
  margin: auto;
}

.win{
  width: auto;
  height: 100px;
  width: 100%;
  font-size: 35px;
  transition:1s;
}

.lost{
  background-color: #808080;
  opacity: 0.5;
  transition:1s;
}
