.background-color {
  background-image: linear-gradient(to bottom, #6dd5ed, #2193b0);
}

.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 0.5s ease-in-out infinite alternate;
  -moz-animation: glow 0.5s ease-in-out infinite alternate;
  animation: glow 0.5s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 300px #fff, 0 0 300px #fff, 0 0 30px #e60073,
      0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  to {
    text-shadow: 0 0 300px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6,
      0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

/* every row */
.row {
  margin: 40px;
}

/* Card */
.card {
  flex-direction: row;
  border-radius: 40px;
  height: 80px;
  margin: auto;
}

.card img {
  width: 60px;
  height: 60px;
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
  border-radius: 100%;
}

.card-body {
  margin: auto;
}
