.background-color {
  background-image: url("../img/background.jpg");
  background-size: cover;
}

.title {
  font-size: 72px;
  margin-top: 60px;
  color: white;
  text-align: center;
}
.glow {
  font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 0.5s ease-in-out infinite alternate;
  -moz-animation: glow 0.5s ease-in-out infinite alternate;
  animation: glow 0.5s ease-in-out infinite alternate;
}

.card {
  flex-direction: row;
  padding: 10px;
  font-family: "ZCOOL XiaoWei", sans-serif;
  font-size: 1rem;
  border-radius: 2rem;
  height: 90px;
  margin: auto;
  color: white;
  background-image: linear-gradient(to right, black, #1e1e1e, #343434);
}

.profile-img {
  border-radius: 50%;
}

.card img {
  width: 4rem;
  height: 4rem;
  margin: auto;
}

.col-12 {
  position: relative;
  margin-bottom: 25px;
}

.card-body {
  margin: auto;
}

.player-0 {
  height: 140px;
}

.first-col {
  background-image: linear-gradient(to right, #faa525, #e30df5);
}

@keyframes color-change {
  0% {
    background-image: linear-gradient(to right, #faa525, #e30df5);
  }
  50% {
    background-image: linear-gradient(to right, #e30df5, #faa525);
  }
  100% {
    background-image: linear-gradient(to right, #faa525, #e30df5);
  }
}

.player-1 {
  height: 120px;
}
.player-2 {
  height: 100px;
}

.name-card {
  font-size: 27px;
}

.song-card {
  font-size: 27px;
}

.score-card {
  font-size: 27px;
}

a{
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: none;
  color: white;
}
